* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main_body {
	position: relative;
	padding: 10px;
	height: 100%;
	width: 100%;
	display: flex;
}
.main_block_coop {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	width: 1400px;
	height: 100%;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0px 2px 10px 2px black;
}
/*Ниже остальной CSS принадлежащий содержание страницы*/
.flex_container {
	display: flex;
	width: 100%;
}
.main_table {
	border: 1px solid black;
	width: 100%;
	height: 810px;
	min-width: 420px;
	max-width: 420px;
	display: flex; 
	flex-direction: column;
}
.head_table_block {
	width: 100%;
	height: 85px;
	border-bottom: 1px solid black;
}
.button_form_ajax {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block_1 {
	margin-top: 0px;
	display: flex;
	position: relative;
}
.block_1 div:first-child {
	height: 20px;
}
.block_1 button {
	font-size: 39px;
	background-color: white;
	border: none;
	transition: .1s;
	display: flex;
}
.block_1 button:hover {
	background-color: #CCC;
}

.block_1 span:not(:last-child) {
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 28px;
	padding-left: 10px;
	padding-right: 10px;
}
.name_table_payment {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	bottom: -30px;
}
/* Стиль для блока с выпадающим списком */
.name_table_payment {
	margin: 20px 0;
}

.name_table_payment label {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	color: #333;
}

/* Стиль для выпадающего списка */
select {
	position: absolute;
	bottom: -20px;
	width: 400px;
	height: 33px;
	padding: 5px 25px 5px 5px;
	font-size: 19px;
	border-radius: 5px;
	background-color: #f9f9f9;
	color: black;
	appearance: none; /* Убираем стрелку по умолчанию */
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path fill="none" stroke="%23333" stroke-width="2" d="M1 3 L5 7 L9 3"/></svg>');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 10px;
	cursor: pointer;
}

/* Стиль при наведении */
select:hover {
	border-color: #0073e6;
}

/* Стиль для опций */
select option {
	padding: 10px;
	font-size: 19px;
	color: black;
}

/* Стиль для активной и выбранной опции */
select option:checked {
	background-color: #0073e6;
	color: #fff;
}

.block_2 {
	margin-top: 10px;
	width: 100%;
	display: flex;
	height: auto;
	align-items: center;
	justify-content: center;
}
.block_3 {
	gap: 10px;
	font-size: 22px;
	display: flex;
	flex-direction: column;
	margin: 5px 0px 15px 20px;
}
.block_2 button {
	height: 100%;
	align-items: center;
	cursor: pointer;
	font-size: 34px;
	background-color: white;
	border: none;
	transition: .1s;
	display: flex;
}
.block_2 button:hover {
	background-color: #CCC;
}

.block_2 span {
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 27px;
	padding-left: 10px;
	padding-right: 10px;
}
#reset {
	margin-left: 20px;
	border-radius: 50%;
}
#reset img {
	width: 30px;
}
#reset:hover {
	background: rgba(0,119,255,0.46);
}
.container_mouth {
	margin-top: 90px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.container_mouth button {
	background-color: white;
	border: 1px solid black;
	border-right: none;
	padding: 0px 4px 0px 4px;
	font-size: 24px;
	border-radius: 4px 0px 0px 4px;
}
.container_mouth button:hover {
	background-color: #CCC;
}
.container_users {
	width: 420px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 10px;
}
.flex_fio_check {
	display: flex;
}

.fio_user button {
	width: 380px;
	background-color: white;
	border: 1px solid black;
	font-size: 24px;
	border-radius: 4px;
}
.fio_user span {
	font-size: 17px;
	margin: 10px;
	border: 1px solid black;
	border-top: none;
	border-radius: 0px 0px 4px 4px;
	padding: 0px 2px 2px 4px;
}
.inf_user_garage {
	font-size: 17px;
	margin: 10px;
	border: 1px solid black;
	border-top: none;
	border-radius: 0px 0px 4px 4px;
	padding: 0px 2px 2px 4px;
}

.container_users button:hover {
	background-color: #CCC;
}
.right_head_block {
	width: 410px;
	height: auto;
}
.right_head_block_garages {
	width: 100%;
	max-width: 405px;
	min-width: 405px;
	margin-left: 5px;
}
.overflow_block_garages {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 5px 0px 20px 10px;
	margin-top: 2px;
	height: 780px;
}
.flex_container_right_block {
	display: flex;
	flex-direction: column;
}
.flex_container_right_block_garages {
	display: flex;
	flex-direction: column;
}
.span_text_garages {
	height: 30px;
}
.span_text_garages span {
	font-size: 27px;
}
.flex_container_garages {
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	width: 100%;
	height: auto;
}
.number_garage {
	display: flex;
}
.number_garage button {
	font-size: 20px;
	background-color: rgb(28, 130, 231);
	border: none;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	color: white;
}
.number_garage button:hover { 
	background-color: rgb(21, 112, 197);
	border: 2px solid black;
}
.number_garage_block {
	margin-top: 8px;
}
.number_garage_block span {
	font-size: 23px;
}
.input_search_block {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 5px;
}
.input_search_block input {
	width: 260px;
	font-size: 20px;
	padding: 3px;
	border-radius: 4px;
}
.input_search_block button {
	border: 1px solid black;
	background-color: white;
	border: 3px solid #1C82E7;
	font-size: 20px;
	padding: 3px;
	border-radius: 4px;
	transition: 0.3s ease;
}
.input_search_block button:hover {
	background-color: #CCC;
}
.body_table_block {
	height: 100%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	overflow-y: auto;
}

.block_payment {
	position: relative;
	border: 1px solid black;
	width: 100%;
	height: auto;
	border-radius: 4px;
}
.image_avatar_block {
	width: 90px;
	height: 100%;
}
.image_avatar_block img {
	margin: 3px;
	display: flex;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
}
.blocks_flex_content {
	display: flex;
	width: 100%;
	height: 100%;
}
.flex_column_container {
	display: flex;
	flex-direction: column;
}
.flex_column_container div {
	margin-bottom: 5px;
}
.head_container {
	font-size: 23px;
	margin-top: 5px;
}
.head_container span {
	display: block;
}
.payment_inf_user_garage {
	font-size: 21px;
}
.body_container {
	height: 100%;
	align-items: center;
	display: flex;
	gap: 8px;
}
.body_container span {
	font-size: 23px;
}
.body_container input {
	outline: none;
	border-radius: 4px;
	height: 32px;
}

.body_container input:focus {
	border: 1px solid #4180BDFF;
	border-color: #4180BDFF;
	box-shadow: 0px 0px 0px 2px #4180BDFF;
	z-index: 99;
	transition: 0.3s ease;
}

#tariff_value {
	font-size: 22px;
	width: 140px;
	padding: 2px;
}
.footer_container {

}
.footer_container button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 120px;
	height: 30px;
	padding: 4px;
	border-radius: 4px;
	font-size: 20px;
	transition: 0.3s ease;
	color: white;
	background-color: #2dcb6f;
}

.footer_container button:hover {
	background-color: #26ae60;
}
.form_payment {
	position: relative;
}
.empty_message {
	font-size: 22px;
	width: 300px;
	align-items: center;
	display: flex;
	border-radius: 3px;
	justify-content: center;
	border: 1px dashed red;
}
.block_message {
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: center;
	width: 100%;
}
.success-message {
	width: 310px;
	display: flex;
	justify-content: center;
	background-color: white;
	color: black;
	border: 3px solid #62BD41FF;
	box-shadow: 0px 4px 7px 5px hsla(0, 0%, 0%, 0.7);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
}
.error-message {
	width: 310px;
	display: flex;
	justify-content: center;
	background-color: white;
	color: black;
	border: 3px solid red;
	box-shadow: 0px 4px 7px 5px hsla(0, 0%, 0%, 0.7);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
}

/* Чек-бокс */
.checkbox-wrapper-4 * {
	box-sizing: border-box;
}
.checkbox-wrapper-4 .cbx {
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	padding: 6px 8px;
	border-radius: 6px;
	overflow: hidden;
	transition: all 0.2s ease;
	display: inline-block;
}
.checkbox-wrapper-4 .cbx:not(:last-child) {
	margin-right: 6px;
}
.checkbox-wrapper-4 .cbx:hover {
	background: rgba(0,119,255,0.06);
}
.checkbox-wrapper-4 .cbx span {
	float: left;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:first-child {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	transform: scale(1);
	border: 1px solid #cccfdb;
	transition: all 0.2s ease;
	box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}
.checkbox-wrapper-4 .cbx span:first-child svg {
	position: absolute;
	top: 4px;
	left: 3px;
	fill: none;
	stroke: #fff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:last-child {
	padding-left: 8px;
	line-height: 18px;
}
.checkbox-wrapper-4 .cbx:hover span:first-child {
	border-color: #07f;
}
.checkbox-wrapper-4 .inp-cbx {
	position: absolute;
	visibility: hidden;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
	background: #07f;
	border-color: #07f;
	animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
	stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
	position: absolute;
	width: 0;
	height: 0;
	pointer-events: none;
	user-select: none;
}
@media screen and (max-width: 640px) {
	.checkbox-wrapper-4 .cbx {
		width: 100%;
		display: inline-block;
	}
}
@-moz-keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}
@-webkit-keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}
@-o-keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}
@keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}



/*Радио кнопки*/
.radio-wrapper-15 .rbx {
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}

.radio-wrapper-15 .rbx span {
	display: inline-block;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}

.radio-wrapper-15 .rbx span:first-child {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	transform: scale(1);
	vertical-align: middle;
	border: 1px solid #B9B8C3;
	transition: all 0.2s ease;
}

.radio-wrapper-15 .rbx span:first-child svg {
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 5px;
	fill: none;
	stroke: white;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
}

.radio-wrapper-15 .rbx span:first-child:before {
	content: "";
	width: 100%;
	height: 100%;
	background: #506EEC;
	display: block;
	transform: scale(0);
	opacity: 1;
	border-radius: 50%;
	transition-delay: 0.2s;
}

.radio-wrapper-15 .rbx span:last-child {
	margin-left: 8px;
	padding: 2px;
}

.radio-wrapper-15 .rbx span:last-child:after {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	height: 1px;
	width: 100%;
	background: #B9B8C3;
	transform-origin: 0 0;
	transform: scaleX(0);
}

.radio-wrapper-15 .rbx:hover span:first-child {
	border-color: #3c53c7;
}

.radio-wrapper-15 .inp-rbx:checked + .rbx span:first-child {
	border-color: #07f;
	background: #07f;
	animation: check-15 0.6s ease;
}

.radio-wrapper-15 .inp-rbx:checked + .rbx span:first-child svg {
	stroke-dashoffset: 0;
}

.radio-wrapper-15 .inp-rbx:checked + .rbx span:first-child:before {
	transform: scale(2.2);
	opacity: 0;
	transition: all 0.6s ease;
}

.radio-wrapper-15 .inp-rbx:checked + .rbx span:last-child {
	color:black;
	border: 1px solid #07f;
	border-radius: 6px;
	transition: border 0.3s ease;
}

.radio-wrapper-15 .inp-rbx:checked + .rbx span:last-child:after {

}

@keyframes check-15 {
	50% {
		transform: scale(1.2);
	}
}

.text_description {
	
}

.coop-payments {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.coop-payments h2 {
	font-size: 25px;
	margin-bottom: 10px;
	color: black;
	text-align: center;
}

.coop-payments p {
	font-size: 19px;
	line-height: 1.6;
	color: black;
	margin-bottom: 20px;
}

.payment-type {
	background-color: #fff;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.payment-type h3 {
	font-size: 22px;
	margin-bottom: 10px;
	color: #0073e6;
}

.payment-type p {
	font-size: 19px;
	color: black;
}

.coop-payments .payment-type:nth-child(odd) {
	background-color: #f1f1f1;
}