* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.flex_block_main {
	display: flex;
	width: 100%;
	justify-content: center;
}
.main_block {
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	width: 1400px;
	height: auto;
	min-height: 700px;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0px 2px 10px 2px black;
}

/*Ниже остальной CSS принадлежащий содержание страницы*/
.main_body {
	padding: 20px 20px 20px 20px;
	display: flex;
	gap: 40px;
}
.flex_column {
	display: flex;
	flex-direction: column;
}
.span_absolute {
	position: relative;
}
.my_meters {
	box-shadow: 0px 1px 4px 2px hsla(0, 0%, 0%, 0.7);
	position: absolute;
	top: -25px;
	left: 15px;
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px;
	font-size: 20px;
	z-index: 945;
}
.list_number_meter {
	position: relative;
	width: 480px;
	min-height: 200px;
	height: 100%;
	padding: 20px 10px 15px 10px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	gap: 10px;
	max-height: 350px;
	overflow-y: auto;
	border-radius: 4px;
	overflow-x: hidden;
}
.block_meter {
	width: 100%;
	height: auto;
	border: 1px solid black;
	padding: 4px;
	border-radius: 4px;
}
.block_meter:hover {
	box-shadow: 0px 4px 10px 0px black;
	border: 1px solid #4180BDFF;
}
.head_meter {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.body_meter {

}
.head_meter span {
	font-size: 23px;
}
.form_update button {
	float: right;
	background-color: white;
	border: 2px solid #1369c0;
	padding: 2px;
	transition: 0.4s ease;
	border-radius: 4px;
	font-size: 20px;
	transition: 0.3s ease;
}
.form_update button:hover {
	background-color: #D8D8D8FF;
}
.true {
	border: 2px solid green;
	border-radius: 4px;
	padding: 1px 4px 1px 4px;
}
.false {
	border: 2px solid red;
	border-radius: 4px;
	padding: 1px 4px 1px 4px;
}
.head_meter input {
	border-radius: 4px;
	padding: 2px 4px 2px 4px;
	display: block;
	font-size: 23px;
	width: 100%;
	outline: none;
	transition: background-color 0.4s ease;
}
.head_meter input:focus {
	border: 1px solid #4180BDFF;
	border-color: #4180BDFF;
	box-shadow: 0px 0px 0px 2px #4180BDFF;
	z-index: 99;
	transition: 0.3s ease;
}
.meter_number_span {
	height: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.meter_number_span div {
	display: flex;
	align-items: center;
}
.meter_number_span input {
	border-radius: 4px;
	padding: 2px 4px 2px 4px;
	display: block;
	height: 35px;
	font-size: 23px;
	width: 50%;
	outline: none;
	transition: background-color 0.4s ease;
}
.meter_number_span span {
	width: 250px;
}
.create_new_meter {
	width: 480px;
}
.input_block {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	height: 75px;
	align-items: center;
}
.input_block div {
	display: flex;
}
.input_block div input::placeholder {
	font-size: 20px;
}
.input_block span {
	width: 420px;
	font-size: 23px;
}
.create_new_meter input {
	border-radius: 4px;
	padding: 2px 4px 2px 4px;
	display: block;
	height: 35px;
	font-size: 23px;
	width: 100%;
	outline: none;
	transition: background-color 0.4s ease;
}
.create_new_meter input:valid {
	border: 1px solid green;
	border-color: #4180BDFF;
	box-shadow: 0px 0px 0px 2px #5FC737FF;
	z-index: 99;
	transition: 0.3s ease;
}
.create_new_meter input:focus {
	border: 1px solid #4180BDFF;
	border-color: #4180BDFF;
	box-shadow: 0px 0px 0px 2px #4180BDFF;
	z-index: 99;
	transition: 0.3s ease;
}
.create_new_meter .button_block {
	margin-top: 10px;
	display: flex;
	justify-content: end;
	width: 100%;
	margin-top: 20px;
}
.create_new_meter .button_block button {
	background-color: #1369c0;
	border: 1px solid black;
	color: white;
	padding: 4px 5px 4px 5px;
	transition: 0.4s ease;
	border-radius: 4px;
	font-size: 19px;
	transition: 0.3s ease;
}
.create_new_meter .button_block button:hover {
	background-color: #1C82E7;
}

.text_memo {
	padding: 20px;
}
.not_found:not(:empty) {
	float: right;
	font-size: 22px;
	border: 2px dotted red;
	padding: 2px 4px 2px 4px;
	transition: .3s;
}